body {
    min-width: 360px;
    width: auto !important;
}

.home-page-main-image {
    background: url(/Content/Images/background.jpg) center no-repeat;
    background-size: cover;
    height: 858px;
    max-width: 100%;
}

.navbar-motto {
    color: white;
    font-size: 10px;
    text-align: center;
    display: block;
}

.navbar-motto-wrapper {
    width: 265px;
}

@media (min-width: 1400px) {
    .navbar-motto-wrapper {
        margin-left: -50px;
    }
}

.motto-page-center {
}