body {
    min-width: 360px;
    width: auto !important;
}

.home-page-main-image {
    background: url(/Content/Images/background.jpg) center no-repeat;
    background-size: cover;
    height: 858px;
    max-width: 100%;
}

.navbar-motto {
    position: absolute;
    bottom: -15px;
    left: 3px;
    color: white;
    font-size:10px;
}
